<head>
	<style type="text/css">
		.auto-style1 {
			width: 100%;
			border-color: #CC0000;
			background-color: #333399;
		}
	</style>
</head>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Avatar Alliance Portal</h1>
    <p class="lead">Welcome.</p>
    <table class="auto-style1">
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</div>
<div class="page-container row-fluid">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse" style="width: 225px;">
			<!-- BEGIN SIDEBAR MENU -->        
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 1228px;"><ul class="page-sidebar-menu" style="overflow: hidden; width: auto; height: 1228px;">
				
				<li>&nbsp;</li>

				<li class="start ">
					<a href="../index.php">
					<i class="icon-home"></i> 
					<span class="title">Home</span>					
					</a>
				</li>
				
				<li>
					<a href="javascript:;">
					<i class="icon-flag"></i> 
					<span class="title">World Winners</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu expanded">
						<li>
							<a href="../index.php">
							All Worlds</a>
						</li>
						<li>
							<a href="../index.php?show=all">
							English <img src="../images/flags/europeanunion.png" alt="flag"> <img src="../images/flags/us.png" alt="flag"> <img src="../images/flags/au.png" alt="flag"></a>
						</li>
						<li>
							<a href="../index.php?show=europe">
							Europe <img src="../images/flags/europeanunion.png" alt="flag"></a>
						</li>
						<li>
							<a href="../index.php?show=usa">
							U.S.A <img src="../images/flags/us.png" alt="flag"></a>
						</li>
						<li>
							<a href="../index.php?show=au">
							Australia <img src="../images/flags/au.png" alt="flag"></a>
						</li>
						<li>
							<a href="../index.php?show=de">
							German <img src="../images/flags/de.png" alt="flag"></a>
						</li>
						<li>
							<a href="../index.php?show=fr">
							French <img src="../images/flags/fr.png" alt="flag"></a>
						</li>
						<li>
							<a href="../index.php?show=es">
							Spanish <img src="../images/flags/es.png" alt="flag"></a>
						</li>											
					</ul>
				</li>


				<li>
					<a href="index.php">
					<i class="icon-save"></i> 
					<span class="title">Download LDC</span>					
					</a>
				</li>


			</ul><div class="slimScrollBar ui-draggable" style="background-color: rgb(161, 178, 189); width: 7px; position: absolute; top: 0px; opacity: 0.3; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 1228px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content" style="min-height:1228px !important">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span6">

						<div class="portlet" style="background-color: rgba(100, 85, 70,0.7);">					
							
							<div class="portlet-body" style="padding:15px;">							
								<table class="table table-striiped table-bordered table-advance table-hmover">
									<tbody>

									<!--<tr>
										<td class="highlight">OLD</td>											
										<td>0.928</td>												
										<td><a href='downloads/LDC_v0.928_full.zip'><u>FULL</u><a/></td>
										<td>Older version DO NOT USE live but available for code lookup.</td>
									</tr>-->


									</tbody>
								</table>
											






							<!--<br>NEW</b> - <span class="title"><a href='downloads/LDC v0.931_upgrade.zip'>v0.931 UPGRADE from 0.928 -  Updated 21st August 2013.</a></span> 
							<br>NEW</b> - <span class="title"><a href='downloads/LDC v0.931_full.zip'>v0.931 Full Installation -  Updated 21st August 2013.</a></span> 
							<br>
							<br>
							<u>OLDER Versions</u><br>
							<span class="title"><a href='downloads/LDC%20v0.928%20full.zip'>v0.928 FULL</a></span>-->

							</div>
						</div>
						<!-- END SAMPLE TABLE PORTLET-->
					</div>
					<div class="span6">	
						
					
					


					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
			<div id="ajax_world_modal" class="modal container hide fade" tabindex="-1">Error!! please try again.</div>
		</div>
		<!-- END PAGE -->
	</div>
