<head>
	<style type="text/css">
		.auto-style1 {
			width: 100%;
			border-color: #CC0000;
			background-color: #333399;
		}
	</style>
</head>
@{
	ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/base")
<div class="jumbotron">
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
		<li><a href="#"><i class="fa fa-book fx2 fa-fw"></i> Library</a></li>
		<li><a href="#"><i class="fa fa-pencil fa-fw"></i> Applications</a></li>
		<li><a href="#"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>
	</ul>
	<h1>Avatar Alliance Portal</h1>
	<p class="lead">Welcome.</p>

	<div id="logged-in">
		You are logged in as <span id="login-name"></span>.
		<i class="fa fa-book fa-fw"></i>
		<button id="log-out">Log out</button>
	</div>
	<div id="logged-out">
		You are not logged in.
		<ul class="nav nav-pills nav-stacked">
			<li><button id="login1"><i class="fa fx2 fa-cogs fa-fw"></i>microsoftaccount</button></li>
			<li><button id="login2"><i class="fa fx4 fa-cogs fa-fw"></i>google</button></li>
			<li><button id="login3"><i class="fa fx2 fa-cogs fa-fw"></i>twitter</button></li>
			<li><button id="login3"><i class="fa fx4 fa-cogs fa-fw"></i>facebook</button></li>
		</ul>
	</div>
	<i class="icon-home"></i>

	<script src="https://avalol.azure-mobile.net/client/MobileServices.Web-1.0.0.min.js"></script>
	<script>
		var client=new WindowsAzure.MobileServiceClient(
		"https://avalol.azure-mobile.net/",
		"zCkmfPjSwERvuvdJexZZaNQTWAcrav37");

		function refreshAuthDisplay() {
			var isLoggedIn=client.currentUser!==null;
			$("#logged-in").toggle(isLoggedIn);
			$("#logged-out").toggle(!isLoggedIn);


			if(isLoggedIn) {
				$("#login-name").text(client.currentUser.userId);
				refreshTodoItems();
			}


		}


		function logIn(sp) {
			client.login(sp).then(refreshAuthDisplay,function(error) {
				alert(error);
			});
		}


		function logOut() {
			client.logout();
			refreshAuthDisplay();
			$('#summary').html('<strong>You must login to access data.</strong>');
		}


		// On page init, fetch the data and set up event handlers
		$(function() {
			refreshAuthDisplay();
			$('#summary').html('<strong>You must login to access data.</strong>');
			$("#logged-out #login1").click(logIn.bind("microsoftaccount"));
			$("#logged-out longin2").click(logIn.bind("google"));
			$("#logged-out button #login3").click(logIn.bind("twitter"));
			$("#logged-out button login4").click(logIn.bind("facebook"));

			$("#logged-in button").click(logOut);
		});


	</script>

</div>
