<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net451" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net451" />
  <package id="AWSSDK" version="2.0.0.6-beta" targetFramework="net451" />
  <package id="AzureCloudTableContext" version="2.1.0-beta" targetFramework="net451" />
  <package id="AzureHelpers" version="0.66" targetFramework="net451" />
  <package id="azure-mobile-services-client.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net451" />
  <package id="bootbox" version="3.3" targetFramework="net451" />
  <package id="bootstrap" version="3.0.1" targetFramework="net451" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net451" />
  <package id="bootstrap-notify.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net451" />
  <package id="bootstrap-select" version="1.3.4" targetFramework="net451" />
  <package id="bootstrap-sortable" version="1.7.2" targetFramework="net451" />
  <package id="Composite.WindowsAzure.Management" version="1.0.0-alpha1310230159" targetFramework="net451" />
  <package id="d3" version="3.2.8" targetFramework="net451" />
  <package id="d3.TypeScript.DefinitelyTyped" version="0.3.4" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.1" targetFramework="net451" />
  <package id="FontAwesome" version="4.0.2" targetFramework="net451" />
  <package id="Handlebars.js" version="1.0.9.1" targetFramework="net451" />
  <package id="ImageResizer" version="3.4.1" targetFramework="net451" />
  <package id="ImageResizer.Mvc" version="3.4.1" targetFramework="net451" />
  <package id="ImageResizer.Plugins.AdvancedFilters" version="3.4.1" targetFramework="net451" />
  <package id="ImageResizer.Plugins.AzureReader2" version="3.4.1" targetFramework="net451" />
  <package id="ImageResizer.Plugins.S3Reader" version="3.4.1" targetFramework="net451" />
  <package id="ImageResizer.Plugins.Wic" version="3.4.1" targetFramework="net451" />
  <package id="jQuery" version="2.0.3" targetFramework="net451" />
  <package id="jQuery.BootStrap.FontAwesome" version="1.0.1" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.3.4" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net451" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net451" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net451" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.3.5" targetFramework="net451" />
  <package id="knockout.validation.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net451" />
  <package id="knockoutjs" version="2.3.0" targetFramework="net451" />
  <package id="Knockout-Validation" version="1.0.2" targetFramework="net451" />
  <package id="Less.js" version="1.4.2" targetFramework="net451" />
  <package id="metro-bootstrap" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.10" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.15" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Facebook" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Google" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Twitter" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Caching" version="2.2.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Caching.MemcacheShim" version="2.2.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Common" version="0.9.1-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="0.9.0-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Management" version="0.9.1-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Management.Compute" version="0.9.2-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Management.Libraries" version="0.9.1-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Management.Scheduler" version="0.9.0-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Management.Storage" version="0.9.0-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Management.VirtualNetworks" version="0.9.0-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Management.WebSites" version="0.9.0-preview" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.StorageClient.Async" version="0.3.2-preview" targetFramework="net451" />
  <package id="Modernizr" version="2.6.2" targetFramework="net451" />
  <package id="Moment.js" version="2.3.1" targetFramework="net451" />
  <package id="msnodesql.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net451" />
  <package id="Mvc.Bootstrap.Datatables.MVC5" version="1.0.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.3.2" targetFramework="net451" />
  <package id="node_redis.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net451" />
  <package id="NodeAssets.AspNet" version="2.0.0" targetFramework="net451" />
  <package id="NodeAssets.Compilers.Node" version="2.0.0" targetFramework="net451" />
  <package id="NodeAssets.Compilers.Typescript" version="2.0.0" targetFramework="net451" />
  <package id="NodeAssets.Core" version="2.0.0" targetFramework="net451" />
  <package id="node-azure.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net451" />
  <package id="node-fibers.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net451" />
  <package id="node-uuid" version="1.4.0" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net451" />
  <package id="RequireJS" version="2.1.9" targetFramework="net451" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="net451" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net451" />
  <package id="Respond" version="1.3.0" targetFramework="net451" />
  <package id="Sammy.js" version="0.7.4" targetFramework="net451" />
  <package id="sammyjs.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.70" targetFramework="net451" />
  <package id="SimplePagingGrid" version="0.6.0.0" targetFramework="net451" />
  <package id="Sucrose" version="0.0.0.24" targetFramework="net451" />
  <package id="Sucrose.WindowsAzureStorage" version="1.0.0.24" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net451" />
  <package id="T4MVCExtensions" version="3.6.5" targetFramework="net451" />
  <package id="toastr" version="2.0.1" targetFramework="net451" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net451" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net451" />
  <package id="Twitter.Bootstrap.Bootswatch.Slate" version="3.0.0.0" targetFramework="net451" />
  <package id="Twitter.Bootstrap.Less" version="3.0.1" targetFramework="net451" />
  <package id="Twitter.Bootstrap.MVC" version="2.1.2" targetFramework="net451" />
  <package id="Twitter.Typeahead" version="0.9.3" targetFramework="net451" />
  <package id="TwitterBootstrapMVC" version="3.6.0" targetFramework="net451" />
  <package id="typeahead.js-bootstrap.css" version="0.0.3" targetFramework="net451" />
  <package id="Validation" version="2.0.2.13022" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net451" />
  <package id="WebGrease" version="1.5.2" targetFramework="net451" />
  <package id="WindowsAzure.MobileServices" version="1.0.3" targetFramework="net451" />
  <package id="WindowsAzure.MobileServices.WinJS" version="1.0.3" targetFramework="net451" />
  <package id="WindowsAzure.Scheduler" version="1.0.1" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="2.2.1.0" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="2.1.0.3" targetFramework="net451" />
  <package id="WindowsAzure.StorageExtensions" version="0.7.7" targetFramework="net451" />
  <package id="WindowsAzure.Storage-Preview" version="2.1.0.3-preview" targetFramework="net451" />
</packages>